#gameArea {
    border: 4px solid rgb(0, 0, 0);
  }

  body {
    height: 100vh;
    background: linear-gradient(
      0deg,
      rgb(7, 92, 94) 0%,
      rgb(243, 45, 253) 100%
    );
    text-align: center;
    overflow: hidden; /*Hide scrollbars*/
  }
  h1 {
    font-family: Comic Sans MS;
  }
  .home{
    text-align: left;
  }